* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('../assets/fonts/Roboto-Bold.woff') format('woff'),
        url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-medium';
    src: url('../assets/fonts/Roboto-Medium.woff2') format('woff2'),
        url('../assets/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('../assets/fonts/Roboto-Regular.woff') format('woff2'),
        url('../assets/fonts/Roboto-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrapper{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}
section#main{
    background-color: rgb(242, 227, 229);}
    .wrapper {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
    .wrapper {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
    header { 
    
    }
    
    
    header .top { 
        
    }
    
    header .top .header { 
    
    }
    
    header .top .header h1 { 
        text-align: center;
        width: 19%;
        margin: 0 auto;
    }
    
    header .top .header h1 img { 
        display: block;
        width: 100%;
    }

    header .top .right_navigations { 
        width: 100%;
    }
    
    header .top .right_navigations ul { 
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
    }
    header .top .right_navigations ul li { 
        list-style: none;
        margin-left: 20px;
    }
    
    header .top .right_navigations ul li a { 
        width: 15px;
        display: block;
        
    }
    
    header .top .right_navigations ul li a img { 
        width: block;
        width: 100%;
    }
    header .top .right_navigations ul li .icon_container  { 
        display: flex;
        align-items: center;
        
    }
    header .top .right_navigations ul li .icon_container .icon{
        width: 15px;
    }
    header .top .right_navigations ul li .icon_container .icon .icon img { 
       display: block;
       width: 100%;
    }
    header .top .right_navigations ul li .icon_container h3{
    }
    header .bottom { 
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    
    header .bottom .left { 
        width: 60%;
    }
    
    header .bottom .left ul { 
        display: flex;
        font-family: 'Roboto-medium';
    }
    
    header .bottom .left ul li { 
        list-style: none;
        margin-right: 10px;
        font-size: 15px;
        font-weight: 600;
    }
    
    header .bottom .left ul li a { 
        color: #58595b;
        font-family: 'Roboto-bold';
        text-decoration: none;
    }
    
    header .bottom .right { 
    
    }
    
    header .bottom .right a { 
        display: block;
        text-align: right;
        font-size: 15px;
        margin-bottom: 10px;
    }

    #main .spotlight { 
    
    }

    #main .spotlight .main { 
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

    }
    
    #main .spotlight .main .left { 
        background-color: rgb(239, 219, 184);
        width: 54%;
        padding: 10px 10px;
        text-align: center;
        color: #58595b;
    }
    #main .spotlight .main .left h2 { 
        font-size: 40px;
        font-weight: 600;
        margin-top: 10px;
        font-family: 'Roboto-medium';
    }
    #main .spotlight .main div.midle { 
        display: flex;
        justify-content: space-between;
        padding: 50px 70px;
        text-align: left;
    }
    #main .spotlight .main .left .side { 
        margin-right: 10px;
        border-right: 1px solid #58595b;
    }
    
    #main .spotlight .main .left .side h4 { 
        font-size: 25px;
    }
    
    #main .spotlight .main .left .side p { 
        font-size: 20px;
    }
    
    #main .spotlight .main .left .dot { 
        margin-right: 10px;
    }
    
    #main .spotlight .main .left .dot h4 { 
        font-size: 25px;

    }
    #main .spotlight .main .left .side p {
        font-size: 20px;
        
    }
    #main .spotlight .main .borderbox{
        border: 2px solid #58595b;
        padding: 10px;
        width: 230px;
        margin: 0 auto;
        margin-top: 20px;

    }
    #main .spotlight .main .for h4{
        font-size: 25px;
    }
    #main .spotlight .main .for .left .dot p { 
        font-size: 20px;

    }
    
    #main .spotlight .main .left div { 
        
    }
    
    /* #main .spotlight .main .left div h4 { 
        font-size: 25px;

    } */
    
    #main .spotlight .main .left div p { 
        font-size: 20px;
        
    }
    
    #main .spotlight .main .rightes { 
        width: 45%;
    }
    
    #main .spotlight .main .rightes img { 
        width: 100%;
        display: block;
    }
    
    #main .spotlight .box { 
        border: 1px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
    
    #main .spotlight .box h3 { 
        font-size: 30px;
        margin-right: 50px; 
        color: #646976;
    }
    
    #main .spotlight .box .smal { 
        border-right: 2px solid #a7abb3;
        line-height: 35px;
        padding-right: 15px;
        /* margin-left: 10px; */
    }
    
    #main .spotlight .box .smal p { 
        color: #58595b;
        font-size: 18px;
        font-weight: 500;
    }
      
    #main .spotlight .box .smal hr { 
        border-bottom: 1px solid #58595b;
    }
    #main .spotlight .box .smal span { 
        color: #58595b;
        font-size: 18px;

    }
    
    #main .spotlight .box .big {
        margin-left: 20px;
    }
    
    #main .spotlight .box .big h3 { 
    
    }



#main .maincontent { 

}

#main .maincontent .Arrivals { 
    padding: 65px 352px;
}


#main .maincontent .Arrivals h3 { 
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

#main .maincontent .Arrivals ul { 
    display: flex;
    justify-content: space-between;
}

#main .maincontent .Arrivals ul li { 
    width: 23%;
}

#main .maincontent .Arrivals ul li a { 

}

#main .maincontent .Arrivals ul li a img { 
    width: 100%;
    display: block;
}

#main .maincontent .Arrivals ul li .siut { 
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 2px solid #58595b;
    line-height: 25px;

}
#main .maincontent .Arrivals ul li .anarkali { 
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 2px solid #58595b;
     line-height: 25px;


}
#main .maincontent .Arrivals ul li .straight { 
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 2px solid #58595b;
    line-height: 25px;

}
#main .maincontent .Arrivals ul li .western { 
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 2px solid #58595b;
    line-height: 25px;

}
#main .maincontent .Arrivals ul li .siut h4 { 

}

#main .maincontent .Arrivals ul li .siut span { 
    font-size: 12px;
}
#main .maincontent .Arrivals ul li .anarkali span { 
    font-size: 12px;
}
#main .maincontent .Arrivals ul li .straight span { 
    font-size: 12px;
}
#main .maincontent .Arrivals ul li .western span { 
    font-size: 12px;
}
#main .maincontent .Arrivals ul li p { 
    font-size: 14px;
    color: #58595b;
}




#main .footer { 
    padding: 65px 352px;
    background-color: white;

}

#main .footer .top { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#main .footer .top .one { 

}

#main .footer .top .one h3 { 
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #585d68;

}

#main .footer .top .one ul { 
    line-height: 24px;

}

#main .footer .top .one ul li { 
    color: #9599a1;

}

#main .footer .top .two { 

}

#main .footer .top .two ul { 
    margin-top: 25px;
    line-height: 24px;
}

#main .footer .top .two ul li { 
    color: #9599a1;
}

#main .footer .top .three { 

}

#main .footer .top .three h3 { 
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #585d68;

}

#main .footer .top .three ul { 
    line-height: 24px;
}

#main .footer .top .three ul li { 
    color: #9599a1;

}

#main .footer .top .four { 

}

#main .footer .top .four h3 { 
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #585d68;

}

#main .footer .top .four ul { 
    line-height: 24px;

}

#main .footer .top .four ul li { 
    color: #9599a1;

}
#main .footer .top .btn{
    display: flex;
    align-items: baseline;

}
#main .footer .top .btn form { 
    margin-top: 15px;
    width: 53%;

}

#main .footer .top .btn form input { 
    border: 1px solid #58595b;
    padding: 10px 15px;
    border-radius: 5px 1px 0px 4px;
    
}

#main .footer .top .btn button { 
    background-color: brown;
    color: white;
    padding: 6px 5px 6px 4px;
    border-radius: 0px 5px 5px 0px;
    height: 40px;
}

#main .footer .bottom { 
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;

}

#main .footer .bottom .left { 
    width: 20%;
}

#main .footer .bottom .left ul { 
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#main .footer .bottom .left ul li { 
    width: 15%;
}

#main .footer .bottom .left ul li img { 
    width: 100%;
    display: block;
}

#main .footer .bottom .right {
    margin-left: 50px;
}

#main .footer .bottom .right ul { 
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

}
#main .footer .bottom .right ul li {
    border-left: 1px solid #58595b;
    padding-left: 4px;
    font-size: 14px;
}
#main .footer .bottom .right ul li:first-child{
    border-left: 0px solid #58595b;
}

/* #main .footer .bottom .right ul li a{
    color: #9599a1;
    text-decoration: none;
    padding-left: 7px;

} */



@media all and (max-width: 1280px){
    #main .spotlight .main .left .side h4{
        font-size: 23px;
    }
    #main .spotlight .main .left .dot h4{
        font-size: 23px;

    }
    #main .spotlight .main .for h4{
        font-size: 23px;

    }
    #main .spotlight .box .smal{
        width: 50%;
    }
    #main .spotlight .main .rightes img{
        height: 409px;
    }
    #main .maincontent .Arrivals {
        padding: 65px 55px;
    }
    #main .footer{
        padding: 65px 55px;
    }
    #main .footer .bottom .right{
        margin-left: 149px;

    }
    
    #main .footer .bottom .right ul li a{
        margin: 0px 10px;
    }
    #main .footer .bottom .right ul li:first-child {
        margin-left: 0px;
    }
    #main .footer .bottom .right {
        margin-left: 70px;
    }
}

@media all and (max-width: 1080px){
    #main .spotlight .main .left h2{
        font-size: 35px;

    }
    #main .spotlight .main .left .side h4{
        font-size: 20px;

    }
    #main .spotlight .main .left .dot h4 {
        font-size: 20px;

    }
    #main .spotlight .main .for h4 {
        font-size: 20px;
    }
    #main .spotlight .box .smal p {
        font-size: 17px;
        width: 84%;
    }
    #main .spotlight .box .smal span {
        font-size: 17px;
    }
    #main .spotlight .box .smal{
        line-height: 25px;

    }
    #main .spotlight .box .smal {
        width: 37%;
    }
    
    #main .footer .bottom .right {
        margin-left: 130px;

    }
    #main .spotlight .box .big {
        /* margin-left: 100px; */
    }
    #main .spotlight .box h3{
        margin-right: 10px;
    }

}

@media all and (max-width: 980px){
    header .top .header h1{
        width: 30%;

    }
    header .top .right_navigations ul li{
        margin-left: 10px;

    }
    header .bottom{
        display: none;
    }
    header {
        padding: 40px;
    }
    header .top .right_navigations ul li .icon_container h3{
        font-size: 13px;
    }
    #main .spotlight .main .left h2{
        font-size: 30px;
    }
    #main .spotlight .main .left .side h4 {
        /* font-size: 20px; */
        font-weight: 600;
    }
    #main .spotlight .main .left .side p {
        font-size: 18px;
    }
    #main .spotlight .main .left .dot h4{
        font-weight: 600;
        margin-bottom: 12px;
    }
    #main .spotlight .main .left div p{
        font-size: 18px;

    }
    #main .spotlight .main .for h4{
        font-weight: 600;
    }
    #main .spotlight .box{
        padding: 15px;
    }
    #main .spotlight .box h3{
        margin-right: 30px;

    }
    #main .footer .top .one {
        width: 25%;
    }
    #main .footer .top .two {
        width: 25%;
    }
    #main .footer .top .three {
        width: 30%;
    }
    #main .footer .bottom .left ul li {
        width: 30%;    }
    #main .footer .bottom .right p {
        margin-left: 200px;
    }
    #main .spotlight .main div.midle{
        padding: 20px 70px;

    }
    #main .spotlight .main .rightes img {
        height: 320px;
    }
    #main .spotlight .box {
        padding: 15px 15px;
    }
    #main .spotlight .box h3{
        font-size: 25px;
    }
    #main .spotlight .box .smal p {
        font-size: 15px;
        width: 164px;
    }
    #main .spotlight .box .smal span {
        font-size: 15px;
    }
    #main .footer .bottom .left {
        width: 35%;
    }
}

@media all and (max-width: 768px){
    header .top .header {
        margin-bottom: 20px;
    }
    #main .spotlight .main .left h2 {
        font-size: 25px;
    }
    #main .spotlight .main .left .side h4 {
        font-size: 20px;
        font-weight: 600;
    }
    #main .spotlight .main .left .dot h4 {
        font-size: 20px;
        width: 111%;
    }
    #main .spotlight .main .left .side{
        margin-right: 10px;

    }
    #main .spotlight .main .left .side p {
        font-size: 13px;
        margin-top: 16px;
    }
    #main .spotlight .box{
        display: flex;
    }
    #main .spotlight .main .left .dot {
        /* margin-right: -70px; */
    }
    #main .spotlight .main div.midle {
        padding: 15px 70px;
    }
    #main .spotlight .main .left{

    }
    #main .spotlight .main .left div p {
        font-size: 11px;
    }
    #main .spotlight .main .borderbox{
        margin-top: 10px;
    }
    #main .spotlight .main .rightes img {
        height: 257px;
    }
    #main .spotlight .box .smal {
        line-height: 20px;
    }
    #main .footer .bottom .left {
        margin-top: 50px;
    }
    #main .footer .bottom .left ul li {
        /* width: 4%; */
    }
    #main .footer .bottom .right {
        margin-left: 35px;
    }
    #main .spotlight .main .left {
        margin-bottom: 15px;
    }
    #main .spotlight .main{
        margin-bottom: 15px;
    }
}

@media all and (max-width: 640px){
    #main .spotlight .main .left h2 {
        font-size: 19px;
    }
    #main .spotlight .main .left .side h4{
        font-size: 10px;
    }
    #main .spotlight .main div.midle {
        padding: 0px 35px;
        margin-top: 10px;
    }
    #main .spotlight .main .left .side p {
        font-size: 14px;
        margin-top: 14px;
    }
    #main .spotlight .main .left .dot h4 {
        font-size: 13px;
        margin-bottom: 0px;
    }
    #main .spotlight .main .left .dot {
        /* margin-right: -45px; */
    }
    #main .spotlight .main .left {
        margin-bottom: 50px;
    }
    #main .spotlight .main .left div p {
        font-size: 13px;
    }
    #main .spotlight .main .for h4{
        font-size: 14px;
        
    }
    #main .spotlight .main .borderbox{
        width: 195px;
    }
    #main .spotlight .main .rightes img {
        height: 222px;
    }
    
    #main .spotlight .box h3 {
        margin-right: 30px;
        font-size: 25px;
    }
    #main .spotlight .box {
        padding: 25px;
        display: block;
    }
    #main .spotlight .main{
        /* margin-bottom: -50px; */
    }
    #main .spotlight .box .smal {
        line-height: 30px;
    }
    #main .spotlight .box .smal p {
        font-size: 18px;  
    }
    #main .spotlight .box .smal span {
        font-size: 18px;  
    }
    #main .maincontent .Arrivals {
        padding: 65px 25px;
    }
    #main .maincontent .Arrivals ul li .siut{
        display: block;
        line-height: 15px;
    }
    #main .maincontent .Arrivals ul li p {
        font-size: 15px;
    }
    #main .maincontent .Arrivals ul li .siut span {
        font-size: 13px;
        margin-left: 20px;
    }
    #main .maincontent .Arrivals ul li .anarkali span {
        font-size: 13px;
        margin-left: 20px;
    }
    #main .maincontent .Arrivals ul li .anarkali{
        display: block;
        line-height: 15px;

    }
    #main .maincontent .Arrivals ul li .straight{
        display: block;
        line-height: 15px;
    }
    #main .maincontent .Arrivals ul li .straight span{
        font-size: 12px;
        margin-left: 20px;
    }
    #main .maincontent .Arrivals ul li .western{
        display: block;
        line-height: 15px;
    }
    #main .maincontent .Arrivals ul li .western span {
        font-size: 12px;
        margin-left: 20px;
    }
    #main .footer .top{
        display: block;
    }
    #main .footer .bottom .left ul li {
        /* width: 7%; */
    }
    #main .footer .bottom .right p{
        margin-left: 0;
    }
    #main .footer .bottom .left {
        width: 25%;
    }
    #main .footer .bottom .left ul li {
        width: 60%;
    }
    #main .footer .bottom .left ul{
        display: block;
    }
}
@media all and (max-width: 480px){
    #main .spotlight .main .rightes img {
        display: none;
    }
    #main .spotlight .main .left{
        width: 70%;
        padding: 40px 55px;
    }
    #main .spotlight .main .left h2 {
        font-size: 30px;
        margin-bottom: 30px;    }
    #main .spotlight .main div.midle {
        padding: 0px 10px;
        margin-bottom: 40px;
    }
    #main .spotlight .box h3 {
        font-size: 30px;
    }
    #main .spotlight .box .smal p {
        font-size: 17px;
    }
    #main .spotlight .box h3 {
        font-size: 25px;
    }
    #main .spotlight .box .smal {
        line-height: 50px;
    }
    #main .maincontent .Arrivals ul {
        display: block;
    }
    #main .maincontent .Arrivals ul li {
        width: 100%;
    }
    #main .maincontent .Arrivals ul li .siut {
        display: flex;
    }
    #main .maincontent .Arrivals ul li .anarkali {
        display: flex;
    }
    #main .maincontent .Arrivals ul li .straight {
        display: flex;
    }
    #main .maincontent .Arrivals ul li .western {
        display: flex;
    }
    #main .footer .bottom .right {
        margin-left: 15px;
    }
    #main .footer .top .four ul form input{
        width: 125px;
    }
    #main .footer .top .btn form{
        width: 63%;
    }
    #main .footer .bottom .left ul li {
        width: 80%;
    }
    #main .maincontent .Arrivals ul li {
        margin-bottom: 30px;
    }
    #main .maincontent .Arrivals ul li .siut {
        margin-top: 20px;
        padding-top: 20px;
    }
    #main .maincontent .Arrivals ul li .anarkali {
        margin-top: 20px;
        padding-top: 20px;
    }
    #main .maincontent .Arrivals ul li .straight {
        margin-top: 20px;
        padding-top: 20px;
    }
    #main .maincontent .Arrivals ul li .western {
        margin-top: 20px;
        padding-top: 20px;
    }
    #main .spotlight .box .smal p {
        font-size: 16px;
    }
    #main .spotlight .box .smal span {
        font-size: 17px;
    }
    #main .footer .bottom .left ul {
        /* display: block; */
        display: flex;
    }
    #main .footer .bottom{
        display: block;
    }
    #main .footer .bottom .right {
        width: 100%;
    }
    #main .footer .bottom .left {
        width: 50%;
        margin-bottom: 25px;
    }
    #main .footer .bottom .right ul {
        gap: 15px;
    }


}
@media all and (max-width: 360px){
    #main .spotlight .main .left {
        padding: 40px 45px;

    }
   
    #main .footer .top .btn form {
        width: 73%;
    }
    #main .footer .top .four ul form input {
        /* margin-right: -9px; */
    }
    #main .footer .top .four ul form button {
        padding: 6px 5px 4px 4px;
        font-size: 12px;
    }
    #main .footer .bottom .left ul {

    }
    #main .footer .bottom .left ul li {
        width: 80%;
    }
    #main .maincontent .Arrivals ul li {
        margin-bottom: 30px;
    }
    #main .maincontent .Arrivals ul li .siut {
        margin-top: 20px;
        padding-top: 20px;
    }
    #main .maincontent .Arrivals ul li .anarkali {
        margin-top: 20px;
        padding-top: 20px;
    }
    #main .maincontent .Arrivals ul li .straight {
        margin-top: 20px;
        padding-top: 20px;
    }
    #main .maincontent .Arrivals ul li .western {
        margin-top: 20px;
        padding-top: 20px;
    }
    #main .footer .bottom{
        display: block;
    }
    #main .footer .bottom .left ul {
        width: 100px;
        display: block;
        /* gap: 10px; */
    }
    #main .footer .bottom .right ul li a{
        font-size: 13px;
    }
    #main .spotlight .box .big {
        margin-left: 1px;
    }
    #main .spotlight .box .smal p {
        font-size: 13px;
    }
    #main .spotlight .box .smal span {
        font-size: 13px;
    }
    #main .footer .bottom .left ul li{
        width: 35%;
    }
    #main .footer .bottom{
        flex-wrap: wrap;

    }
    #main .footer .bottom .left ul li {
        width: 25%;
    }
    #main .footer .bottom .left ul {
        display: flex;
    }

}






































































































/* @media all and(max-width: 1280px){
    #main .spotlight .main .left h2 {
        font-size: 25px;
        font-weight: 600;
        margin-top: 10px;
    }
    #main .spotlight .main .left .side h4 {
        font-size: 20px;
    }
    #main .spotlight .main .left .dot h4 {
        font-size: 20px;
    }
    #main .spotlight .main div.midle {
        display: flex;
        justify-content: space-between;
        padding: 50px 70px;
        text-align: left;
        margin-top: -47px;
    }
    #main .footer .bottom .right {
        margin-left: 310px;
        margin-top: -17px;
    }
}
@media all and(max-width: 1080px){
    #main .spotlight .main .left h2 {
        font-size: 25px;
        font-weight: 600;
        margin-top: 10px;
    }
    #main .spotlight .main .left .side h4 {
        font-size: 20px;
    }
    #main .spotlight .main .left .side p {
        font-size: 15px;
    }
    #main .spotlight .main .left .dot h4 {
        font-size: 20px;
    }
    #main .spotlight .main .left div p {
        font-size: 15px;
    }
    #main .spotlight .main .for h4 {
        font-size: 20px;
    }
    #main .spotlight .main .left div p {
        font-size: 15px;
    }
    #main .spotlight .main .rightes {
        width: 45%;
        height: 409px;
    }
    #main .spotlight .main .rightes img {
        width: 100%;
        display: block;
        height: 409px;
    }
    #main .spotlight .main .left {
        background-color: rgb(239, 219, 184);
        width: 54%;
        padding: 0px 10px;
        text-align: center;
        color: #58595b;
        margin-inline: 0px;
    }
    #main .spotlight .main .left h2 {
        font-size: 40px;
        font-weight: 600;
        margin-top: -71px;
    }
    #main .footer .bottom .left {
        margin-top: 30px;
    }
}
@media all and(max-width: 980px){
    #main .spotlight .main .left h2 {
        font-size: 30px;
        font-weight: 600;
        margin-top: 10px;
    }
    #main .spotlight .main div.midle {
        display: flex;
        justify-content: space-between;
        padding: 50px 70px;
        text-align: left;
        display: none;
    }
    #main .spotlight .box {
        border: 1px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    #main .spotlight .box .smal p {
        color: #58595b;
        font-size: 13px;
    }
    #main .spotlight .box .smal span {
        color: #58595b;
        font-size: 13px;
    }
    #main .maincontent .Arrivals {
        padding: 65px 40px;
    }
    #main .footer {
        padding: 62px 40px;
        background-color: white;
    }
    #main .footer .top {
        display: flex;
        justify-content: space-between;
        margin-right: -110px;
    }
    #main .footer .top .four ul form input {
        border: 1px solid #58595b;
        /* padding: 0px 0px; */
        /* border-radius: 5px 1px 0px 4px;
        margin-right: -5px; */
    }
    /* #main .footer .bottom .right {
        margin-left: 275px;
        margin-top: -17px;
    }
}
@media all and(max-width: 768){
    header .bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        display: none;
    }
    #main .spotlight .main div.midle {
        display: flex;
        justify-content: space-between;
        padding: 50px 70px;
        text-align: left;
        display: none;
    }
} */ */